

@font-face{
    font-family: gooddog;
    src: url(../font/GOODDC__.TTF);
    font-weight: bold;
}
@font-face{
    font-family: Montserrat;
    src: url(../font/MontserratAlternates-Light.otf);
    font-weight: lighter;
}

* {
    margin: 0;
    padding: 0;
  }

  .bg-image {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    /* height: 100%; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-size: cover;
    background: no-repeat;
  }
  .logo {
    margin: 10rem 14rem 0rem 0;
    display: flex;
    flex-direction: row-reverse;
  }
  /* textcolor: #9baf6d; */
  .heading h1{
    font-size: 56px;
    text-align: right;
    color: #9baf6d;
    text-transform: uppercase;
    font-weight: 300;
    margin: 4rem 4rem 0rem 0rem;
    font-family: 'Montserrat', sans-serif;
  }
  .heading h2 {
    font-size: 62px;
    text-align: right;
    color: #9baf6d;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  .btn-learn {
    margin: 1rem 5rem 10rem 0rem;
    float: right;
    text-transform: uppercase;
    background: #36421c;
    opacity: 0.6;
    color: #9baf6d;
    height: 99px;
    width: 390px;
    font-size: 50px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    transition: all 300ms linear;
}

.btn-learn:hover {
    background: #2c3725;
    color: #fff;
    outline: none;
}
/* ==================================== */
/* ALL SECTION GOES HERE */
#cook {
    background: #212121;
    overflow: hidden;
}
#test {
    background: #494d3f;
    overflow: hidden;
}
#plates {
    background: #212121;
    overflow: hidden;
}

/* ==================================== */
.remove-all-margin-padding{
    margin:0 ! important;
    padding:0 ! important;
    }
.remove-all-padding{
    padding: 0 !important;
}    

.cook-left{
    margin-top: 7rem;
}
.cook-left h3{
    color: #fff;
    font-family: gooddog;
    font-size: 64px;
    font-weight: 300;
    text-align: center;
}

.cook-left p{
    color: #fff;
    font-family: Montserrat;
    font-size: 17px;
    text-align: center;
}

#test h3{
    font-family: gooddog;
    color: #fff;
    font-size: 54px;
    margin-top: 3rem;
}

#test p{
    color: #fff;
    font-family: Montserrat;
    font-size: 17px;
    margin-bottom: 3rem;
}

#plates .container{
    background: #494d3f;
    margin-top: 5rem;
    padding: 0;
}
.heading-plate{ text-align: center;}
.heading-plate h3{
    font-family: gooddog;
    font-size: 44px;
    color: #fff;
    margin-top: 3rem;
}
.heading-plate h2{
    font-family: Montserrat;
    font-size: 44px;
    color: #fff;
    margin-bottom: 3rem;
}
.plate h3 {
    font-size: 2.75rem;
    font-family: gooddog;
    /* font-size: 44px; */
    color: #afc67b;
    margin-top: 2rem;
}
.plate p {
    font-family: Montserrat;
    font-size: 16px;
    color: #fff;
    margin-bottom: 1rem;
}
.plate p:nth-child(3)
    {
        font-size: 16px;
        color: #fff;
        text-decoration-line: underline;
        font-family: Montserrat;
    }
.no-gutters {
            margin-right: 0;
            margin-left: 0;
            padding-right: 0;
            padding-left: 0;
       }     
.img-width {
    width: 100%;
}       